.complete-row {
    color: #16697A;
    padding: 25px 0px 0px 5px;
    text-align: left;
}

h3 {
    font-family: Helvetica, sans-serif;
    font-weight: 800;
    color: #28468F;
}

@media only screen and (max-width: 768px) {
    .complete-row {
        text-align: center;
        padding: 0px 0px 0px 5px;
    }

   }