.completed-tasks__text {
    padding: 5px 0px 5px 0px;
    background-color: #EDE7E3;
    border: none;
    border-radius: 4px;
    margin: 1px;
}

.completed-tasks__all {
    padding: 10px 15px 0px 15px;
}

.delete-forever__button {
    float: center;
}

